<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Add Task
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="taskForm">
  <ion-list>
    <ion-item>
      <ion-input label="Title" labelPlacement="floating" ></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-input label="Description" labelPlacement="fixed" ></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-input label="Task date" labelPlacement="stacked" ></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-input label="Category" labelPlacement="floating"></ion-input>
    </ion-item>

    <ion-item>
      <ion-select label="Priority Level" >
        <option selected>Select Priority level</option>
            <option value="low">Low</option>
            <option value="medium">Medium</option>
            <option value="high">High</option>
        
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select label="Progress Level" >
        <option selected>Select Progress level</option>
        <option value="pending">Pending</option>
        <option value="started">Started</option>
        <option value="completed">Completed</option>
        
      </ion-select>
    </ion-item>

    <ion-button (click)="onSubmit">Submit</ion-button>

  </ion-list>
</form>
</ion-content>
